/*
#
#    ===> Project Created By Mahedi Hassan
#
*/


/*
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
*/

// Importing SCSS Files
@import 'mixins';
@import 'varriables';

/* Custom Fonts are addded here */

@font-face {
    src: url(../font/Inconsolata-VariableFont_wdth\,wght.ttf);
    font-family: dhf;
}

@font-face {
    src: url(../font/BalooBhaina2-Regular.ttf);
    font-family: dpf;
}


/*Default CSS Start*/

:root {
    --ht-bg: #030C1E;
    --f-color-1: #4169E1;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #F5F6F9 !important;
}

a,
a:hover {
    text-decoration: none;
}

img {
    line-height: 0;
}

ul,
ol {
    list-style: none;
}


/*Default CSS End*/


/* ====== Section Title : Start ======*/

.section_title {
    padding: {
        top: 20px;
        bottom: 20px;
    }
    ;
    h4 {
        font-family: $lato-font;
        font-weight: 700;
        color: #030C1E;
        font-size: 24px;
    }
}


/* ====== Section Title : End ======*/


/* ===== Header Section : Start ===== */

.header_top {
    background: var(--ht-bg);
    padding: {
        top: 15px;
        bottom: 15px;
    }
    ;
    .header_item_row {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        .ht_item_col.ht_item.ht_logo {
            width: 15%;
            .ht_site_logo {
                a.site_logo {
                    display: block;
                    text-decoration: none;
                }
            }
        }
        .ht_item_col.ht_item.ht_search {
            width: 42.5%;
            .ht_search_box {
                width: 100%;
                padding: {
                    right: 25px;
                }
                ;
                .search_box {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    position: relative;
                    z-index: 1;
                    .searchBox_input_filed {
                        width: 100%;
                        background: #fff;
                        border-radius: 4px;
                        padding: {
                            top: 5px;
                            bottom: 5px;
                        }
                        ;
                        .SearchBox_input {
                            background: #fff;
                            border: 0;
                            border-radius: 4px;
                            width: 100%;
                            padding: {
                                left: 20px;
                                right: 40px;
                                top: 5px;
                                bottom: 5px;
                            }
                            ;
                        }
                    }
                    .searchBox_search_btn {
                        background: transparent;
                        border: 0;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        z-index: 2;
                        display: block;
                        padding: 10px;
                    }
                }
            }
        }
        .ht_item_col.ht_item.ht_q_actions {
            width: 42.5%;
            .ht_q_ac_row {
                display: flex;
                flex-direction: row;
                width: 100%;
                .ht_ac_item {
                    width: 25%;
                    a.ht_ac_item_link {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        text-decoration: none;
                        color: #fff;
                        width: 100%;
                        .ht_ac_icon {
                            padding: {
                                left: 10px;
                                right: 10px;
                            }
                            ;
                            i {
                                font-size: 26px;
                                color: #FF6208;
                            }
                        }
                        .ht_ac_content {
                            h5 {
                                margin-bottom: 1.5px;
                                font-size: 15px;
                            }
                            p {
                                margin-bottom: 0;
                                font-size: 11px;
                                color: rgb(145, 145, 145);
                            }
                        }
                    }
                }
            }
        }
    }
}

.header_nav {
    background: #fff;
    box-shadow: 0px 0px 5px -2px #000100;
    padding: {
        top: 10px;
        bottom: 10px;
    }
    ;
    .navbar {
        .container {
            .navbar_nav {
                display: flex;
                flex-direction: row;
                padding: 0;
                margin: 0;
                align-items: center;
                width: 100%;
                justify-content: space-around;
                .nav_item {
                    padding: {
                        left: 6px;
                        right: 6px;
                    }
                    ;
                    .nav_item_link {
                        text-decoration: none;
                        font-size: 13px;
                        color: #1E1C1C;
                        font-family: $opensans-font;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}


/* ===== Header Section : End ===== */


/* ===== Banner Section : Start ===== */

.product_banner {
    padding: {
        top: 30px;
        bottom: 30px;
    }
    ;
}

.product_banner_slide_track {
    .product_banner_slide {
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        padding: 85px;
        border-radius: 5px;
        .pb_slide_content {
            h1 {
                color: #030C1E;
                font-size: 32px;
                font-weight: 800;
                font-family: $lato-font;
            }
            p {
                color: #494949;
                font-family: $lato-font;
                font-size: 16px;
                margin: {
                    bottom: 20px;
                }
                ;
                font-weight: 600;
                span {
                    color: #FF6208;
                }
            }
            .banner_btn {
                padding: 10px 40px;
                background: #4169E1;
                color: #fff;
                text-decoration: none;
                border-radius: 3px;
                box-shadow: 0px 4px 8px rgba(33, 115, 180, 0.37);
            }
        }
    }
}


/* ===== Banner Section : End ===== */


/* ===== Short Info Section : Start ===== */

.short_info {
    .container {
        .short_info_main {
            padding: 10px 20px;
            background: #fff;
            border-radius: 30px;
            marquee {
                font-size: 14px;
                font-family: $lato-font;
                font-weight: 400;
                margin: {
                    top: 5px;
                }
                ;
            }
        }
    }
}


/* ===== Short Info Section : End ===== */


/* ===== Available Products Section : Start ===== */

.available_products {
    margin: {
        top: 30px;
    }
    ;
    .container {
        .available_products_main {
            .avp_section_header {
                display: flex;
                width: 100%;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                justify-content: space-between;
                position: relative;
                &::after {
                    position: absolute;
                    content: '';
                    bottom: 0;
                    left: 0;
                    height: 2px;
                    width: 100%;
                    background: #4169E1;
                }
                .avp_section_title {
                    h3 {
                        background: #4169E1;
                        color: #fff;
                        padding: 10px 25px;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        margin: 0;
                        font-family: $lato-font;
                        font-weight: 600;
                    }
                }
                .avp_section_viewAllBtn {
                    a {
                        text-decoration: none;
                        color: #565252;
                        font-family: $lato-font;
                        font-weight: 500;
                        font-size: 18px;
                        margin-top: 15px;
                        display: block;
                    }
                }
            }
        }
    }
}

.available_product_card_track {
    padding: {
        top: 30px;
        bottom: 30px;
    }
    ;
}

.av_product_card {
    background: url(../img/offer_product_card_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    padding: {
        top: 20px;
        bottom: 20px;
        // right: 20px;
        // left: 20px;
    }
    ;
    .av_product_card_img {
        text-align: center !important;
        padding: {
            top: 10px;
            bottom: 10px;
        }
        ;
        img {
            margin: auto;
        }
    }
    .av_product_card_info {
        .av_product_card_offer_info {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            p {
                color: #fff;
                background: #4169E1;
                padding: 5px 10px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                font-size: 14px;
                font-weight: 600;
                &:nth-child(2) {
                    background: #FE7E07;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 0px;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 0px;
                }
            }
        }
        .av_product_card_product_info {
            padding: {
                top: 10px;
                bottom: 10px;
                right: 10px;
                left: 10px;
            }
            ;
            a {
                display: block;
                text-decoration: none;
                font-size: 18px;
                font-family: $lato-font;
                font-weight: 600;
                color: #707070;
                margin: {
                    bottom: 10px;
                }
                ;
            }
            span {
                color: #F31515;
                font-family: $lato-font;
                font-weight: 600;
                del {
                    color: #707070;
                    margin-left: 5px;
                }
            }
        }
    }
}


/* ===== Available Products Section : End ===== */


/* ===== Featured Product Category Section : Start ===== */

.featured_category {
    padding: {
        top: 30px;
        bottom: 30px;
    }
    ;
    .container {
        .featured_categories_title {
            text-align: center !important;
            h4 {
                font-family: $lato-font;
                font-weight: 700;
                font-size: 24px;
                color: #000100;
            }
            p {
                font-family: $lato-font;
                font-weight: 400;
                font-size: 20px;
                color: #000100;
            }
        }
        .featured_categories {
            .col-2 {
                margin-top: 20px;
            }
            a.f_product_category_item {
                border-radius: 16px;
                text-decoration: none;
                background: #fff;
                display: block;
                width: 100% !important;
                height: 100% !important;
                box-shadow: 2px 2px 2px rgba(170, 164, 164, 0.1);
                padding: {
                    top: 20px;
                    bottom: 20px;
                }
                ;
                .f_product_category_item_icon {
                    width: 90px;
                    height: 90px;
                    margin: auto;
                }
                p {
                    margin: {
                        top: 10px;
                        bottom: 10px;
                    }
                    ;
                    color: #565252;
                    font-family: $lato-font;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 14px;
                    letter-spacing: 0em;
                }
            }
        }
    }
}


/* ===== Featured Product Category Section : End ===== */


/* ===== Most Viewed Products Section : Start ====== */

.h_product_card {
    padding: 15px 0px;
    border-radius: 16px;
    position: relative;
    z-index: 1;
    /*It will appear if Product is New*/
    .h_newProduct {
        position: absolute;
        top: 0;
        left: -15px;
        padding: 4px 10px;
        background: #B752F2;
        z-index: -1;
        span.h_newProduct_text {
            color: #fff;
            font-size: 14px;
            position: relative;
            z-index: 1;
            font-family: $lato-font;
            font-weight: 600;
            span {
                position: relative;
                z-index: 1;
                &::after {
                    position: absolute;
                    content: '';
                    top: 15px;
                    left: -10px;
                    width: 15px;
                    height: 15px;
                    background-color: #542172;
                    transform: rotate(-90deg);
                    z-index: -33;
                    clip-path: polygon(50% 0%, 0% 100%, 50% 100%);
                }
            }
        }
    }
    .h_product_card_image {
        text-align: center;
    }
    .h_product_card_short_info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .h_product_offer {
            p {
                margin: 0;
                background: #4169E1;
                color: #fff;
                padding: 5px 10px;
                font-size: 12px;
                font-family: $lato-font;
                font-weight: 600;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
        .h_product_rating {
            p {
                margin: 0;
                background: #FE7E07;
                color: #fff;
                padding: 5px 10px;
                font-size: 12px;
                font-family: $lato-font;
                font-weight: 600;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }
    }
    .h_product_card_info {
        padding: 15px;
        a.h_product_card_product_title {
            font-family: $lato-font;
            font-weight: 600;
            font-size: 16px;
            color: #615D5DCC;
            text-decoration: none;
        }
        p.h_product_card_price {
            color: #F31515;
            font-family: $lato-font;
            font-weight: 600;
            margin-top: 10px;
            margin-bottom: 0;
            del.h_product_card_price_off {
                color: #565252;
            }
        }
    }
}


/* ===== Most Viewed Products Section : End ====== */


/* ===== Our Brands Section : Start ===== */

.our_brands {
    padding: {
        top: 30px;
        bottom: 30px;
    }
    ;
}


/* ===== Our Brands Section : End ===== */


/* ===== Customer Review Section : Star ===== */

.customer_reviews {
    padding: {
        top: 30px;
        bottom: 30px;
    }
    ;
}

.customer_review_card {
    padding: 35px;
    background: #fff;
    border-radius: 10px;
    .cr_ratings {
        margin: {
            bottom: 10px;
        }
        ;
        padding: 0;
        display: flex;
        flex-direction: row;
        li.cr_rating_star {
            margin: {
                right: 5px;
            }
            ;
            i {
                color: #FE7E07;
            }
        }
    }
    .cr_reviewMessage {
        p {
            font-family: $Roboto-font;
            font-weight: 400;
            font-size: 18px;
            margin: {
                bottom: 20px;
            }
            ;
        }
    }
    .cr_customer_info {
        display: flex;
        flex-direction: row;
        .cr_customer-detail {
            padding: {
                left: 20px;
            }
            ;
            h5 {
                color: #4169E1;
                font-family: $Montserrat-font;
                font-weight: 700;
                font-size: 16px;
                margin: {
                    bottom: 2px;
                }
                ;
            }
            p {
                margin: 0;
                color: #707070;
                font-family: $lato-font;
                font-weight: 400;
            }
        }
    }
}


/* ===== Customer Review Section : End ===== */


/* ===== Counter Section : Start ===== */

.counter_wrapper {
    padding: {
        top: 60px;
        bottom: 60px;
    }
    ;
}

.counter_body {
    h5 {
        font-family: $lato-font;
        font-weight: 500;
        font-size: 24px;
        color: var(--f-color-1);
    }
    span.counter {
        font-size: 36px;
        font-family: $lato-font;
        font-weight: 900;
        color: var(--f-color-1);
    }
}


/* ===== Counter Section : End ===== */


/* ===== Footer Section : Start ===== */

.footer_wrapper {
    background: var(--ht-bg);
    .footer_top {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #F5F6F9;
        }
        .container {
            .footer_navbar {
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                .footer_nav_item {
                    padding: {
                        top: 20px;
                        bottom: 20px;
                    }
                    ;
                    .footer_nav_item_link {
                        text-decoration: none;
                        font-family: $Raleway-font;
                        font-weight: 700;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.footer_widgets {
    padding: {
        top: 60px;
        bottom: 60px;
    }
    ;
}

.footer_widget {
    h5 {
        color: #fff;
        font-size: 24px;
        font-family: $lato-font;
        font-weight: 700;
        font-style: normal;
        position: relative;
        margin: {
            bottom: 20px;
        }
        ;
        &::after {
            position: absolute;
            content: '';
            background: #FF6208;
            bottom: -3px;
            left: 0;
            height: 2px;
            width: 100px;
        }
    }
    .footer_social_widget {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        .footer_sw_item {
            margin: {
                right: 5px;
            }
            ;
            .footer_sw_item_link {
                width: 30px;
                height: 30px;
                display: block;
                line-height: 30px;
                text-align: center;
                background: #3C3A3A;
                color: #fff;
                border-radius: 50%;
            }
        }
    }
}

.fw_newsletter {
    .fw_subs_form_box {
        border: 2px solid #fff;
        border-radius: 4px;
        .fw_email_subs {
            background: transparent;
            color: #fff;
            border: 0;
            padding: 10px 15px;
            width: 280px;
            &::placeholder {
                color: #fff;
            }
        }
        button {
            border: 0;
            background: #4169E1;
            color: #fff;
            padding: 10px 17px;
            font-size: 16px;
            font-weight: 700;
        }
    }
}

.fw_payment_method {
    padding: 0px 35px;
}

.footer_end {
    padding: {
        top: 10px;
        bottom: 10px;
    }
    ;
}

.footer_copyright {
    span {
        display: block;
        color: #fff;
        a {
            color: #fff;
            text-decoration: none;
            border-bottom: rgb(145, 145, 145) 1px dashed;
        }
    }
}

.footer_dev_by {
    span {
        color: #fff;
        a {
            color: #fff;
            text-decoration: none;
            border-bottom: rgb(145, 145, 145) 1px dashed;
        }
    }
}


/* ===== Footer Section : End ===== */