@use '../utilities/root';
@use '../utilities/mixins';
@use '../utilities/varriables';
.section_title {
    padding: {
        top: 20px;
        bottom: 20px;
    }
    ;
    h4 {
        font-family: $lato-font;
        font-weight: 700;
        color: #030C1E;
        font-size: 24px;
    }
}