.footer_test_v1 {
    background: var(--ht-bg);
}

.footer_test_v1 {
    .fw_email_subs {
        width: 275px !important;
    }
}

.footer_v1_nav {
    ul.footer_v1_navbar {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        li.footer_v1_nav_item {
            a.footer_v1_nav_item_link {
                text-decoration: none;
                font-family: $Raleway-font;
                font-weight: 700;
                color: #fff;
                display: block;
                padding: 20px 0px;
            }
        }
    }
}

.footer_v1_nav.footer_test_v1_bottom_nav {
    ul.footer_v1_navbar {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        li.footer_v1_nav_item {
            margin: 0px 10px;
            a.footer_v1_nav_item_link {
                text-decoration: none;
                font-family: $Raleway-font;
                font-weight: 600;
                font-size: 12px;
                color: #fff;
                display: block;
                padding: 10px 0px;
            }
        }
    }
}

.footer_v2_nav_menu {
    .footer_qck_nav {
        h6 {
            font-family: $lato-font;
            font-weight: 700;
            font-size: 18px;
            color: #fff;
        }
        ul.ftr_qck_nav_items {
            margin: 0;
            padding: 0;
            li.ftr_qck_nav_item {
                a.ftr_qck_nav_link {
                    font-family: $lato-font;
                    text-decoration: none;
                    color: #707070;
                    margin-left: 15px;
                    transition: all linear .3s;
                    position: relative;
                    &::after {
                        position: absolute;
                        content: '\00bb';
                        top: -4px;
                        left: -15px;
                    }
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}