@use '../utilities/root';
@use '../utilities/mixins';
@use '../utilities/varriables';

/* ===== Our Brands Section : Start ===== */

.our_brands {
    padding: {
        top: 30px;
        bottom: 30px;
    }
    ;
}


/* ===== Our Brands Section : End ===== */