@use '../utilities/root';
@use '../utilities/mixins';
@use '../utilities/varriables';

/*Single Product Image slide : Start*/

.single_product_gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    .single_product_galleryImage_sm-thumb {
        width: 20%;
        .product_galleryImage_sm-thumb {
            margin: {
                right: 10px;
                bottom: 10px;
            }
            ;
        }
    }
    .single_product_galleryImage_bg-thumb {
        width: 80%;
        height: 420px;
        overflow-x: hidden;
    }
}


/*Single Product Image slide : End*/


/*Single Product Detail : Start*/


/*Single Product Detail : end*/