/*
#
#    ===> Project Created By Mahedi Hassan
#
*/
/*
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
*/
/*
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
*/
/* Custom Fonts are addded here */
@font-face {
  src: url(../font/Inconsolata-VariableFont_wdth\,wght.ttf);
  font-family: dhf;
}

@font-face {
  src: url(../font/BalooBhaina2-Regular.ttf);
  font-family: dpf;
}

/*Default CSS Start*/
:root {
  --ht-bg: #030C1E;
  --f-color-1: #4169E1;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #F5F6F9 !important;
}

a,
a:hover {
  text-decoration: none;
}

img {
  line-height: 0;
}

ul,
ol {
  list-style: none;
}

/*Default CSS End*/
/* ====== Section Title : Start ======*/
.section_title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section_title h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #030C1E;
  font-size: 24px;
}

/* ====== Section Title : End ======*/
/* ===== Header Section : Start ===== */
.header_top {
  background: var(--ht-bg);
  padding-top: 15px;
  padding-bottom: 15px;
}

.header_top .header_item_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header_top .header_item_row .ht_item_col.ht_item.ht_logo {
  width: 15%;
}

.header_top .header_item_row .ht_item_col.ht_item.ht_logo .ht_site_logo a.site_logo {
  display: block;
  text-decoration: none;
}

.header_top .header_item_row .ht_item_col.ht_item.ht_search {
  width: 42.5%;
}

.header_top .header_item_row .ht_item_col.ht_item.ht_search .ht_search_box {
  width: 100%;
  padding-right: 25px;
}

.header_top .header_item_row .ht_item_col.ht_item.ht_search .ht_search_box .search_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  position: relative;
  z-index: 1;
}

.header_top .header_item_row .ht_item_col.ht_item.ht_search .ht_search_box .search_box .searchBox_input_filed {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header_top .header_item_row .ht_item_col.ht_item.ht_search .ht_search_box .search_box .searchBox_input_filed .SearchBox_input {
  background: #fff;
  border: 0;
  border-radius: 4px;
  width: 100%;
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header_top .header_item_row .ht_item_col.ht_item.ht_search .ht_search_box .search_box .searchBox_search_btn {
  background: transparent;
  border: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  display: block;
  padding: 10px;
}

.header_top .header_item_row .ht_item_col.ht_item.ht_q_actions {
  width: 42.5%;
}

.header_top .header_item_row .ht_item_col.ht_item.ht_q_actions .ht_q_ac_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.header_top .header_item_row .ht_item_col.ht_item.ht_q_actions .ht_q_ac_row .ht_ac_item {
  width: 25%;
}

.header_top .header_item_row .ht_item_col.ht_item.ht_q_actions .ht_q_ac_row .ht_ac_item a.ht_ac_item_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
  width: 100%;
}

.header_top .header_item_row .ht_item_col.ht_item.ht_q_actions .ht_q_ac_row .ht_ac_item a.ht_ac_item_link .ht_ac_icon {
  padding-left: 10px;
  padding-right: 10px;
}

.header_top .header_item_row .ht_item_col.ht_item.ht_q_actions .ht_q_ac_row .ht_ac_item a.ht_ac_item_link .ht_ac_icon i {
  font-size: 26px;
  color: #FF6208;
}

.header_top .header_item_row .ht_item_col.ht_item.ht_q_actions .ht_q_ac_row .ht_ac_item a.ht_ac_item_link .ht_ac_content h5 {
  margin-bottom: 1.5px;
  font-size: 15px;
}

.header_top .header_item_row .ht_item_col.ht_item.ht_q_actions .ht_q_ac_row .ht_ac_item a.ht_ac_item_link .ht_ac_content p {
  margin-bottom: 0;
  font-size: 11px;
  color: #919191;
}

.header_nav {
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px -2px #000100;
          box-shadow: 0px 0px 5px -2px #000100;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header_nav .navbar .container .navbar_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header_nav .navbar .container .navbar_nav .nav_item {
  padding-left: 6px;
  padding-right: 6px;
}

.header_nav .navbar .container .navbar_nav .nav_item .nav_item_link {
  text-decoration: none;
  font-size: 13px;
  color: #1E1C1C;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

/* ===== Header Section : End ===== */
/* ===== Banner Section : Start ===== */
.product_banner {
  padding-top: 30px;
  padding-bottom: 30px;
}

.product_banner_slide_track .product_banner_slide {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  padding: 85px;
  border-radius: 5px;
}

.product_banner_slide_track .product_banner_slide .pb_slide_content h1 {
  color: #030C1E;
  font-size: 32px;
  font-weight: 800;
  font-family: "Lato", sans-serif;
}

.product_banner_slide_track .product_banner_slide .pb_slide_content p {
  color: #494949;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 600;
}

.product_banner_slide_track .product_banner_slide .pb_slide_content p span {
  color: #FF6208;
}

.product_banner_slide_track .product_banner_slide .pb_slide_content .banner_btn {
  padding: 10px 40px;
  background: #4169E1;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 8px rgba(33, 115, 180, 0.37);
          box-shadow: 0px 4px 8px rgba(33, 115, 180, 0.37);
}

/* ===== Banner Section : End ===== */
/* ===== Short Info Section : Start ===== */
.short_info .container .short_info_main {
  padding: 10px 20px;
  background: #fff;
  border-radius: 30px;
}

.short_info .container .short_info_main marquee {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-top: 5px;
}

/* ===== Short Info Section : End ===== */
/* ===== Available Products Section : Start ===== */
.available_products {
  margin-top: 30px;
}

.available_products .container .available_products_main .avp_section_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.available_products .container .available_products_main .avp_section_header::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #4169E1;
}

.available_products .container .available_products_main .avp_section_header .avp_section_title h3 {
  background: #4169E1;
  color: #fff;
  padding: 10px 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.available_products .container .available_products_main .avp_section_header .avp_section_viewAllBtn a {
  text-decoration: none;
  color: #565252;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-top: 15px;
  display: block;
}

.available_product_card_track {
  padding-top: 30px;
  padding-bottom: 30px;
}

.av_product_card {
  background: url(../img/offer_product_card_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.av_product_card .av_product_card_img {
  text-align: center !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.av_product_card .av_product_card_img img {
  margin: auto;
}

.av_product_card .av_product_card_info .av_product_card_offer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.av_product_card .av_product_card_info .av_product_card_offer_info p {
  color: #fff;
  background: #4169E1;
  padding: 5px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: 600;
}

.av_product_card .av_product_card_info .av_product_card_offer_info p:nth-child(2) {
  background: #FE7E07;
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
}

.av_product_card .av_product_card_info .av_product_card_product_info {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.av_product_card .av_product_card_info .av_product_card_product_info a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #707070;
  margin-bottom: 10px;
}

.av_product_card .av_product_card_info .av_product_card_product_info span {
  color: #F31515;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.av_product_card .av_product_card_info .av_product_card_product_info span del {
  color: #707070;
  margin-left: 5px;
}

/* ===== Available Products Section : End ===== */
/* ===== Featured Product Category Section : Start ===== */
.featured_category {
  padding-top: 30px;
  padding-bottom: 30px;
}

.featured_category .container .featured_categories_title {
  text-align: center !important;
}

.featured_category .container .featured_categories_title h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #000100;
}

.featured_category .container .featured_categories_title p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000100;
}

.featured_category .container .featured_categories .col-2 {
  margin-top: 20px;
}

.featured_category .container .featured_categories a.f_product_category_item {
  border-radius: 16px;
  text-decoration: none;
  background: #fff;
  display: block;
  width: 100% !important;
  height: 100% !important;
  -webkit-box-shadow: 2px 2px 2px rgba(170, 164, 164, 0.1);
          box-shadow: 2px 2px 2px rgba(170, 164, 164, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;
}

.featured_category .container .featured_categories a.f_product_category_item .f_product_category_item_icon {
  width: 50px;
  height: 50px;
  margin: auto;
}

.featured_category .container .featured_categories a.f_product_category_item p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #565252;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
}

/* ===== Featured Product Category Section : End ===== */
/* ===== Most Viewed Products Section : Start ====== */
.h_product_card {
  padding: 15px 0px;
  border-radius: 16px;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 2px 2px 2px rgba(170, 164, 164, 0.1);
          box-shadow: 2px 2px 2px rgba(170, 164, 164, 0.1);
  /*It will appear if Product is New*/
}

.h_product_card .h_newProduct {
  position: absolute;
  top: 0;
  left: -15px;
  padding: 4px 10px;
  background: #B752F2;
  z-index: -1;
}

.h_product_card .h_newProduct span.h_newProduct_text {
  color: #fff;
  font-size: 14px;
  position: relative;
  z-index: 1;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.h_product_card .h_newProduct span.h_newProduct_text span {
  position: relative;
  z-index: 1;
}

.h_product_card .h_newProduct span.h_newProduct_text span::after {
  position: absolute;
  content: '';
  top: 15px;
  left: -10px;
  width: 15px;
  height: 15px;
  background-color: #542172;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  z-index: -33;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 50% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 50% 100%);
}

.h_product_card .h_product_card_image {
  text-align: center;
}

.h_product_card .h_product_card_short_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.h_product_card .h_product_card_short_info .h_product_offer p {
  margin: 0;
  background: #4169E1;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.h_product_card .h_product_card_short_info .h_product_rating p {
  margin: 0;
  background: #FE7E07;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.h_product_card .h_product_card_info {
  padding: 15px;
}

.h_product_card .h_product_card_info a.h_product_card_product_title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #615D5DCC;
  text-decoration: none;
}

.h_product_card .h_product_card_info p.h_product_card_price {
  color: #F31515;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0;
}

.h_product_card .h_product_card_info p.h_product_card_price del.h_product_card_price_off {
  color: #565252;
}

/* ===== Most Viewed Products Section : End ====== */
/* ===== Our Brands Section : Start ===== */
.our_brands {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* ===== Our Brands Section : End ===== */
/* ===== Customer Review Section : Star ===== */
.customer_reviews {
  padding-top: 30px;
  padding-bottom: 30px;
}

.customer_review_card {
  padding: 35px;
  background: #fff;
  border-radius: 10px;
}

.customer_review_card .cr_ratings {
  margin-bottom: 10px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.customer_review_card .cr_ratings li.cr_rating_star {
  margin-right: 5px;
}

.customer_review_card .cr_ratings li.cr_rating_star i {
  color: #FE7E07;
}

.customer_review_card .cr_reviewMessage p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
}

.customer_review_card .cr_customer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.customer_review_card .cr_customer_info .cr_customer-detail {
  padding-left: 20px;
}

.customer_review_card .cr_customer_info .cr_customer-detail h5 {
  color: #4169E1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 2px;
}

.customer_review_card .cr_customer_info .cr_customer-detail p {
  margin: 0;
  color: #707070;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

/* ===== Customer Review Section : End ===== */
/* ===== Counter Section : Start ===== */
.counter_wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

.counter_body h5 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: var(--f-color-1);
}

.counter_body span.counter {
  font-size: 36px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: var(--f-color-1);
}

/* ===== Counter Section : End ===== */
/* ===== Footer Section : Start ===== */
.footer_wrapper {
  background: var(--ht-bg);
}

.footer_wrapper .footer_top {
  position: relative;
}

.footer_wrapper .footer_top::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #F5F6F9;
}

.footer_wrapper .footer_top .container .footer_navbar {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer_wrapper .footer_top .container .footer_navbar .footer_nav_item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer_wrapper .footer_top .container .footer_navbar .footer_nav_item .footer_nav_item_link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #fff;
}

.footer_widgets {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer_widget h5 {
  color: #fff;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  margin-bottom: 20px;
}

.footer_widget h5::after {
  position: absolute;
  content: '';
  background: #FF6208;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100px;
}

.footer_widget .footer_social_widget {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer_widget .footer_social_widget .footer_sw_item {
  margin-right: 5px;
}

.footer_widget .footer_social_widget .footer_sw_item .footer_sw_item_link {
  width: 30px;
  height: 30px;
  display: block;
  line-height: 30px;
  text-align: center;
  background: #3C3A3A;
  color: #fff;
  border-radius: 50%;
}

.fw_newsletter .fw_subs_form_box {
  border: 2px solid #fff;
  border-radius: 4px;
}

.fw_newsletter .fw_subs_form_box .fw_email_subs {
  background: transparent;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  width: 280px;
}

.fw_newsletter .fw_subs_form_box .fw_email_subs::-webkit-input-placeholder {
  color: #fff;
}

.fw_newsletter .fw_subs_form_box .fw_email_subs:-ms-input-placeholder {
  color: #fff;
}

.fw_newsletter .fw_subs_form_box .fw_email_subs::-ms-input-placeholder {
  color: #fff;
}

.fw_newsletter .fw_subs_form_box .fw_email_subs::placeholder {
  color: #fff;
}

.fw_newsletter .fw_subs_form_box button {
  border: 0;
  background: #4169E1;
  color: #fff;
  padding: 10px 17px;
  font-size: 16px;
  font-weight: 700;
}

.fw_payment_method {
  padding: 0px 35px;
}

.footer_end {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer_copyright span {
  display: block;
  color: #fff;
}

.footer_copyright span a {
  color: #fff;
  text-decoration: none;
  border-bottom: #919191 1px dashed;
}

.footer_dev_by span {
  color: #fff;
}

.footer_dev_by span a {
  color: #fff;
  text-decoration: none;
  border-bottom: #919191 1px dashed;
}

/* ===== Footer Section : End ===== */
/*# sourceMappingURL=style.css.map */